#menu{
    display: none;
}
#divh{
    width: 20vw;
    height: 15vh;
    background:url(img/topimg.jpg) ;
    background-position: center center;
    background-size: cover;
    -webkit-mask-image: radial-gradient(ellipse, black 60% , rgba(255, 255, 255, 0) 70% );
    mask-image: radial-gradient(ellipse, black 50%, rgba(221, 221, 221, 0.5));}
nav{
    display:grid;
    background-color: var(--co2);
    grid-template-columns: 120px 120px 120px 120px 120px auto 120px;
        

}
input{
    border-radius: 5px 0px 0px 5px;
    height: 70%;
    align-items: center;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.363);
    transform: scaleX(0);
    transition: transform 2s;
}
button:hover{
    background-color: #0759fd;
}
form:hover input{
    transform: scaleX(100%);
}

input:focus-visible{
    outline:none ;
    transform: scaleX(100%);
}

form{
    margin-right: 20px;
    display: flex;
    justify-self: end;
    align-items: center;
}
form > a{
    background-color: rgb(255, 246, 246);
    padding-left: 2px;
    padding-right: 2px;
    border-radius:0 4px 4px 0;
}
form > a:target input{
    transform: scalex(100%);
    background-color: #fd3807;
}
form > a:hover{
    background-color: #07a3fd;
}
nav > a {
    display: flex;
    text-decoration: none;
    color: aliceblue;
    margin: 3px;
    border-radius: 5px;
    padding: 1vh;
    transition-property: width;
    transition-duration: 1s;
    width: 0%;
}
nav > a:hover{
    background-color: var(--cor5);
    box-shadow:3px 3px 3px 2px black;
    width: 100px;
    cursor: pointer;
}

header{
    background-color:var(--cor3);
    background-image: linear-gradient( to top, #0759fd ,#00154e);
    width: 100%;
}  
#header-top{
    height: 15vh;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;

}
a > img{
    width:20% ;
}
/*principal*/
main{
    overflow-y: auto;
    box-shadow: inset 5px 5px 18px 9px rgb(31, 31, 31);
        display: flex;
        height: 100vh;
        color: azure;
        background-image: url(img/backimage.jpg);
        background-attachment: fixed;
        background-position: center center;
        font-size: xx-large;
    }
main  h1 {
        text-shadow: 2px 2px 1px var(--cor1);
    }